.home {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/141582-blue-winter-atmosphere-nature-mountainous_landforms-3265x1837.jpg);
  background-size: cover;
  background-position: center;
}
